.nav {
    max-width: 144rem;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    display: flex;
    max-width: 144rem;
    left: 0;
    right: 0;
    justify-content: space-between;
}




.title{
    font-size: 25px;
    padding-left: 8px;
    padding-right: 8px;
    height: 38px;
    width: fit-content;
    background-color: Transparent;
    color: black;
    border: none;
    border-radius: 0.5rem;
}

.login{
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    height: 38px;
    width: fit-content;
    background-color: Transparent;
    color: black;
    border: none;
    border-radius: 0.5rem;

}

.login:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.register{
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    height: 38px;
    width: fit-content;
    background-color: Transparent;
    color: black;
    margin-right: 10px;
    
    border: none;
    border-radius: 0.5rem;
}

.logout{
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    height: 38px;
    width: fit-content;
    background-color: Transparent;
    color: black;
    margin-right: 10px;
    
    border: none;
    border-radius: 0.5rem;
}

.logout:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.register:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

