@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.LandingPage{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #edfcff;
}
.content_Landing_h{
   position: absolute;
   top: 140px;
   left: 170px;
   font-family: 'Oswald', sans-serif;

    font-size: 60px;
    color: #163A59;
    font-weight: 900;

}   
.Landing_img{
    position: absolute;
    top: 230px;
    right: 50px;
    width: 50%; 

   

}
.content{
    color: black;
    position: absolute;
    padding:3%;
    font-size: 35px;
    width: 30%;
    top: 290px;
    left: 150px;
    font-family: 'Libre Baskerville', serif;
    
}