@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

.nav{
    display:flex;
    width: 100%;
   position: fixed;
    align-items: center;
    border: 1px solid black;

}
.comNam{
   
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    font-weight: bold;
}
.login{
    float: right;
   padding: 9px 25px;
   background-color:blue;
   border:none;
   border-radius: 50px;
   transition: all 0.3s ease 0s;
}
.log_reg{
    float:right;
}   
.logo{
    width: 2%;
    margin: 0.3%;
}