@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

.nav{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;

}
.comNam{
    display:flex;
    justify-self: left;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border: 1px solid black;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    font-weight: bold;
}
.login{
    display: inline-block;
    justify-content: space-between;
   padding: 9px 25px;
   background-color:blue;
   border:none;
   border-radius: 50px;
   transition: all 0.3s ease 0s;
}
.log_reg{
    
}   
.logo{
    width: 5%;
    margin: 1%;
}