.Story{
    position: relative;
    height: 100vh;
    width: 100%;
    
}
.Story_head{
    position: absolute;
    top: 2%;
    left: 40%;
    color: #2D55A6;
    font-weight:700;
    font-size: 45px;

}
.Story_img{
    position: absolute; 
    top: 30%;
    left: 3%;   
    padding-left:3%;
    width: 40%;
    height: 60%;
    
}
.Story_content{
    position: absolute;
    top: 30%;
    width: 35%;
    font-size: 20px;
    font-family: serif;
    right: 3%;
    text-align: justify;
}